<!DOCTYPE html>
<html>
  <head>
    <title>Sustyle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://app.simplefileupload.com/buckets/01a5d676e78964f0c95f2881270447bd.js"></script>
  </head>

  <body>
    <% if flash[:notice] %>
  		<div class="notification is-dark">
        <button class="delete"></button>
  			<p class="notice"><%= notice %></p>
  		</div>
  	<% end %>
  	<% if flash[:alert] %>
  		<div class="notification is-danger global-notification">
        <button class="delete"></button>
  			<p class="alert"><%= alert %></p>
  		</div>
  	<% end %>
     <nav class="navbar is-white">
      <div class="navbar-brand">
        <%= link_to root_path, class: "navbar-item" do %>
        <%= image_tag("sustyle-black.png", alt: "sustyle logo", :size => "120x140") %>
        <% end %>
      </div>
      <div id="navbarExample" class="navbar-menu is-justify-content-center">
        <div class="navbar">
          <div class="navbar-item button is-white is-align-self-center">
            <%= link_to 'HOME', new_user_session_path, class: "button is-white" %>
          </div>
          <div class="navbar-item button is-white is-align-self-center">
            <%= link_to 'FOOD', new_user_session_path, class: "button is-white" %>
          </div>
          <div class="navbar-item button is-white is-align-self-center">
            <%= link_to 'ENERGY', new_user_session_path, class: "button is-white" %>
          </div>
          <div class="navbar-item button is-white is-align-self-center">
            <%= link_to 'FASHION', new_user_session_path, class: "button is-white" %>
          </div>
          <div class="navbar-item button is-white is-align-self-center">
            <%= link_to 'ECONOMICS', new_user_session_path, class: "button is-white" %>
          </div>
          <div class="navbar-item button is-white is-align-self-center">
            <%= link_to 'TECHNOLOGY', new_user_session_path, class: "button is-white" %>
          </div>
        </div>
			  
			</div>
      <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped is-mobile">
              <% if user_signed_in? %>
                <p class="control">
                  <%= link_to 'New Article', new_article_path, class: "button is-danger is-inverted" %>
                </p>
                <p class="control">
                  <%= link_to current_user.name, edit_user_registration_path, class: "button is-dark" %>
                </p>
                <p>
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, class:"button is-dark" %>
                </p>
              <% else %>
              <p class="control">
                <%= link_to 'LOG IN', new_user_session_path, class: "button is-white" %>
              </p>
              <p class="is-align-self-center">|</p>
              <p class="control">
                <%= link_to 'REGISTER', new_user_registration_path, class: "button is-white" %>
              </p>
              <% end %>
              </div>
            </div>
				</div>
    </nav>
    <main>
      <%= yield %>
    </main>
    <footer class="footer pb-4 pt-4 is-justify-content-space-between">
      <div class="columns is-vcentered">
        <div class="column is-3 ">   
          <%= link_to root_path, class: "img" do %>
            <%= image_tag("sustyle-white.png", alt: "sustyle logo", :size => "110x120") %>
          <% end %>
        </div>
        <div class="column is-6 is-size-7 has-text-centered">
          <p>
            <a href="#">Privacy</a>
            <a href="#">Policy</a>
            <a href="#">Terms & Conditions</a>
            <span class="has-text-white"> Copyright 2021. All rights reserved.</span>
          </p>
        </div>
        <div class="column is-3 is-size-7 has-text-right is-flex-direction-row-reverse">
          <li class="is-flex pl-6 is-align-items-center is-align-self-flex-end ml-6">
            <span class="has-text-white">Connect with us:</span>
            <div class="social-icons">
              <a href="#" class="icon">
                  <%= image_tag("twitter.png", class: "ml-5", alt: "twitter logo", :size => "32x32") %>      
              </a>
              <a href="#" class="icon">
                  <%= image_tag("instagram.png", class: "ml-5", alt: "instagram-logo", :size => "32x32") %>      
              </a>
              <a href="#" class="icon">
                  <%= image_tag("facebook.png", class: "ml-5", alt: "twitter logo", :size => "32x32") %>      
              </a>
            </div>
          </li>
        </div>
      </div>
    </footer>
  </body>
</html>
